{% extends "base.html" %}

{% block content %}
    Please choose the Courses you would like to add to your Possible Courses list.
    <form action="{% url 'designatedCourses' %}" method="POST">

        {% csrf_token %}
        <ul>

            {% for course in courses %}

                <li>
                    <input id="" type="checkbox" value="{{ course.id }}" name="choices">
                    {{ course.department_ID }}
                    {{ course.course_Number }}
                    {{ course.course_Title }}
                </li>

            {% endfor %}


        </ul>
             <input type="submit" value="Add to Possible Courses">
    </form>

    <br>
    <br>
    Possible Course List for {{ user.username }}

    {% for dc in designatedCourses %}

        {% for course in dc.designated_courses.all %}
            <li>
                {{ course.department_ID }}
                {{ course.course_Number }}
                {{ course.course_Title }}
            </li>
        {% endfor %}
    {% endfor %}


{% endblock %}