
{% extends "base.html" %}

{% block content %}
    Catalog
    <form action="{% url 'homePage' %}" method="POST">
        {% csrf_token %}
        <ul>

            {% for course in courses %}
                <a href="{% url 'viewCourse' course.id %}">
                    <li>
                        <input type="checkbox" value="{{ course }}">
                        {{ courseourse.department_ID }}
                        {{ courseourse.course_Number }}
                        {{ course.course_Title }}
                    </li>
                </a>
            {% endfor %}
        </ul>
             <input type="submit" value="Add to Designated Courses">

    </form>
{% endblock %}