{% extends "base.html" %}

{% block content %}
    <h1>Schedule Generator</h1>



    {% if rt == None %}
        There are no Reserved Times for {{ user.username }}

    {% else %}

         Reserved Times for {{ user.username }}

    {% endif %}



    <ul>
        {% for rt in reservedTimes %}
            <li>
                {{ rt.description }} {{ rt.reserved_Day }} {{ rt.start_Time }} - {{ rt.end_Time }}
            </li>
        {% endfor %}
    </ul>

    <h4>{{ error }}</h4>

    {% if possibleCourses.count == 0 %}
        There are no Possible Courses for {{ user.username }}
    {% elif possibleCourses == None %}
        There are no Possible Courses for {{ user.username }}
    {% else %}
        Possible Courses for {{ user.username }}
    {% endif %}

    <form action="{% url 'scheduleGenerator' %}" method="POST">

        {% csrf_token %}
        <ul>

            {% for course in possibleCourses %}

                <li>
                    <input id="" type="checkbox" value="{{ course.id }}" name="choices">
                    {{ course.department_ID }}
                    {{ course.course_Number }}
                    {{ course.course_Title }}
                </li>

            {% endfor %}


        </ul>
             <input type="submit" value="Generate Schedule">
    </form>

    Schedule Options
    <ul>
<ul>
    <table style="width:75%">
        <colgroup>
            <col span="1" style="width: 20%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 20%;">
        </colgroup>
        <tr>
            <th>Course Title</th>
            <th>Section</th>
            <th>Instructor</th>
            <th>Meeting Day(s)</th>
            <th>Meeting Time(s)</th>
        </tr>
    </table>
</ul>
        {% for schedule in schedule_Options %}
            <li>
                <ul>
                    {% for course in schedule.scheduled_Courses.all %}
                        <table style="width:75%">
                    <colgroup>
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 20%;">
                    </colgroup>
                    <tr>
                        <td>{{ course.section.course.course_Title }}</td>
                        <td>{{ course.section.section_ID }}</td>
                        <td>{{ course.section.instructor }}</td>
                        <td>{{ course.period.meeting_day }}</td>
                        <td>{{ course.period.start_Time }} - {{ course.period.end_Time }}</td>
                    </tr>
                </table>

                    {% endfor %}
                </ul>
            </li>
            <form action="{% url 'saveSchedule' schedule.id %}" method="POST">{% csrf_token %}<input type="submit" value="Save"></form>
        {% endfor %}

    </ul>

{% endblock %}